NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=aaaa
CLERK_SECRET_KEY=aaaa

SUPABASE_POSTGRES_PASSWORD=aaa

NEXT_PUBLIC_SUPABASE_URL=https://aaa.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=aaa
SUPABASE_SECRET_KEY=aaa

QSTASH_URL="https://qstash-us-east-1.upstash.io"
QSTASH_TOKEN="aaa="
QSTASH_CURRENT_SIGNING_KEY="aaa"
QSTASH_NEXT_SIGNING_KEY="aaa"

# Evolution API (WhatsApp Gateway)
EVOLUTION_API_URL=https://evolution-api-production-ee60.up.railway.app
EVOLUTION_GLOBAL_API_KEY=aaa
DEBUG_QSTASH=1